* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: GTWalsheim, system-ui, sans-serif;
}

body, html {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Header & Navigation bar */
header {
    position: static;
    background-color: #0099ff;
    padding: 10px 20px;
    height: 70px;
    display: flex;
    align-items: center;
    position: static;
    top: 0;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
}

nav li:last-child {
    margin-right: 0;
}

nav a, li {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

li a {
    text-decoration: underline;
}
.app {
    font-size: 3vh;
}

/* Main content */
.content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 90vh;
}

.child-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.qoute {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    border-radius: 20px;
    gap: 2em;
    padding: 10px 10px;
}

strong {
    color: #0099ff;
}

h1 {
    font-size: 5vh;
}

h2 {
    text-align: center;
}

span {
    color: #0099ff;
}

.paragraph {
    text-indent: 30px;
    line-height: 1.5;
    text-align: justify;
    font-size: 2.5vh;
}

.register p {
    text-align: justify;
    font-size: 2vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    width: 40%;
    border-radius: 20px;   
    align-items: flex-start; 
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
    font-size: 2.5vh;
}

input {
    font-size: 2vh;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #0099ff;
    border-radius: 10px;
    width: 100%;
    transition: 0.5s ease;
}

input:focus {
    border-color: black;
    outline: none;
}

.show-password {
    display: flex;
    margin-top: 5px;
}

#showPassword {
    width: 30px;
}

.show {
    font-size: 2vh;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #0099ff;
    color: white;
    font-size: 2vh;
    transition: 0.5s ease;
}

button:hover {
    background-color: white;
    border: 1px solid #0099ff;
    color: #0099ff;
    cursor: pointer;
}

.register {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

a {
    color: #0099ff;
}

/* Footer */
.footer-container {
    padding-top: 10px;
    height: 20vh;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border-top: 1px solid #0099ff;
}

.foot-1, .foot-2 {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.foot-1 div {
    display: flex;
    gap: 1em;
}

.contact {
    font-size: 2vh;
}

.gmail {
    text-decoration: underline;
    color: #0099ff;
}